@import "fonts.css";
/*BASIC CONF*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/*BASIC CONF*/
/*UNIQUE CONF*/
.row {
    display: flex;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33333%;
}
.col-3 {
    width: 25%;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}
.desc_size {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.phone_number {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #FFFFFF;
}
/*UNIQUE CONF*/
/*SECTION HEADER*/
.header {
    height: 107px;
    background: #177165;
    padding: 0 70px;
}
.header_container {
    height: 100%;
}
.header_link {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #A4D6CF;
}
.header_link:not(:last-child) {
    margin-right: 40px;
}
.header_home {
    color: #ffffff;
}
.phone_img {
    margin-right: 20px;
}
/*SECTION HEADER*/
/*SECTION HERO*/
#hero {
    height: 788px;
    background: #177165;
}
.hero_desc {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.desc_top {
    margin-top: 100px;
    padding-left: 50px;
}
.desc_top:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    top: 14px;
    left: 0;
    background: #A4D6CF;
}
.hero_title {
    font-family: "Playfair Display", sans-serif;
    margin-right: 123px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.desc_bottom {
    margin: 16px 0 59px 0;
    padding-left: 35px;
}
.desc_bottom:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    top: 14px;
    left: 0;
    background: #A4D6CF;
}
.hero_btn {
    width: 212px;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #177165;
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
}
.hero_btn:before {
    content: "+";
    position: absolute;
    width: 9px;
    height: 1px;
    top: 1px;
    right: 35px;
}
.hero_right-side {
    position: absolute;
    height: 844px;
    left: 54.52%;
    right: 1.47%;
    top: 165px;

    background: url("../images/farmzi3.png") no-repeat;
}
/*SECTION HERO*/
/*SECTION ABOUT*/
.about {
    margin-top: 215px;
}
.about_top {
    position: relative;
    margin-left: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
}
.about_top:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    top: 14px;
    left: -50px;
    background: #777777;
}
.about_title {
    font-family: "Playfair Display", sans-serif;
    margin-right: 150px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}
.about_left-side {
    margin-top: 52px;
    padding-bottom: 100px;
}
.about_right-side {
    padding: 121px 40px 0 107px;
}
.card_title {
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #177165;
}
.card_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
}
.card-p {
    margin: 15px 0 94px 0;
}
.about_desc {
    font-family: 'Playfair Display', sans-serif;
    margin: 17px 0 36px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #177165;
}
.about_btn {
    border: 2px solid #177165;
}
/*SECTION ABOUT*/
/*SECTION PRACTICE*/
.practice {
    height: 882px;
    background: #E1F4F2;
}






/*SECTION PRACTICE*/